<h1>Welcome, today is <%= Time.now.strftime('%A') %>.</h1>

<h1>List of lines</h1>

<table>
  <% @lines.each do |line| %>
    <tr>
    <td><%= link_to line._id, line_path(line) %></td>
    <td><%= line.name %></td>
    <td>#<%= line.color %></td>
    </tr>
  <% end %>
</table>